*.ipynb
.ipynb_checkpoints
*.log
*.o

EmberMUD/player/*
!EmberMUD/player/player.dir
!EmberMUD/player/temp
!EmberMUD/player/temp/temp.dir
EmberMUD/gods/*
!EmberMUD/gods/gods.dir
EmberMUD/src/core.*.gz
EmberMUD/src/ember
EmberMUD/src/find_src.py
EmberMUD/area/find_area.py

ttyd/build

tintin/src/tt++
tintin/src/find_src.py
tintin/src/config.status
tintin/src/config.h
tintin/src/Makefile
tintin/src/validate
ttyd/html/src/favicon.png.bak